@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

section {
    background-color:rgb(86, 206, 253);
    padding: 25px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.267);
}

h1 {
    background-color: rgb(199, 199, 199);
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bolder;
}
button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(29, 2, 2);
    background-color: rgb(199, 199, 199);
    color: rgb(12, 11, 11);
    font-size: 16pt;
    font-weight: 600;
    margin: auto;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 50%;
    width: 30px;
}